<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.ThemeBrandIcon }}
        <img height="28" src="{{ . | absURL }}" style="border-radius:4px;margin-right:0.5rem">
      {{ end }}
      {{ .Site.Title }}
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarExpanded">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarExpanded" class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Params.ThemeNavItems }}
        <a class="navbar-item" href="{{ .url | absURL }}">{{ .title }}</a>
      {{ end }}
    </div>

    <div class="navbar-end">
      {{- range .Site.Params.ThemeNavBadges -}}
        <div class="navbar-item" style="padding-left:0">
          <a class="navbar-item" href="{{ .url | absURL }}" title="{{ .title }}" style="{{ with .color }}background-color:{{ . }};{{ end }}border-radius:4px;padding:.5rem">
            <img height="28" src="{{ .img | absURL }}" style="border-radius:4px">
          </a>
        </div>
      {{- end -}}
    </div>
  </div>
</nav>
