{{ define "main" }}
  {{ $siteParams := .Site.Params }}
  {{ $page := . }}
  {{ $version := .Params.bosh_release_version }}
  {{ $package := .Params.bosh_release_package_spec.name }}

  <article class="markdown">
    <h1><code>{{ $package }}</code> package</h1>

    {{ with .Params.bosh_release_package_spec.description }}
      <p>
        {{ . | markdownify }}
      </p>
    {{ end }}

    {{ with .Params.bosh_release_package_spec.dependencies }}
      <h2>Dependencies</h2>

      <ul>
        {{ range . }}
          <li><a href="{{ ( $page.GetPage ( printf "%s-package.md" . ) ).Permalink }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    {{ end }}

    <h2 id="spec">Source</h2>

    <p>
      Based on <code>packages/{{ $package }}/spec</code>
      (<a href="{{ $siteParams.boshRepo }}/{{ $siteParams.boshBlobPath }}/packages/{{ $package }}/spec">source</a>,
        {{ with  $page.OutputFormats.Get "yaml" -}}
          <a href="{{ .Permalink }}">YAML</a>
        {{- end }},
        {{ with  $page.OutputFormats.Get "json" -}}
          <a href="{{ .Permalink }}">JSON</a>
        {{- end -}}
      ).
    </p>
  </article>
{{ end }}

{{ define "toc" }}
  TODO
  {{ partial "docs/toc" . }}
{{ end }}
