{{ define "meta" }}
  {{ with index .Site.Data.repositoryTags.dates .Title }}
    <meta name="twitter:label1" value="Released">
    <meta name="twitter:data1" value="{{ . | dateFormat "January 2, 2006" }}">
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    <h1>{{ .Params.bosh_release_name }}/{{ .Params.bosh_release_version }}</h1>

    {{ with index .Site.Data.repositoryTags.dates .Title }}
      <p>Released <time datetime="{{ . | dateFormat "2006-01-02T15:04:05Z07:00" }}" title="{{ . | dateFormat "2006-01-02T15:04:05Z07:00" }}">{{ . | dateFormat "January 2, 2006" }}</time></p>
    {{ end }}

    {{ with .Content }}
      <h2 id="notes">Release Notes</h2>

      {{- . -}}
    {{ end }}

    <h2 id="usage">Usage</h2>

    {{ partial "release/use-source.html" . }}

    <h2 id="jobs">Jobs</h2>

    {{ range where .Paginator.Pages "Type" "eq" "bosh-release-job" }}
      <p>
        <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong><br />
        {{ with .Params.bosh_release_job_spec.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    {{ end }}

    <h2 id="jobs">Packages</h2>

    {{ range where .Paginator.Pages "Type" "eq" "bosh-release-package" }}
      <p>
        <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong><br />
        {{ with .Params.bosh_release_package_spec.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    {{ end }}

    <h2 id="source">Source</h2>
    {{ $source := printf "releases/%s/%s-%s.yml" .Params.bosh_release_name .Params.bosh_release_name .Params.bosh_release_version }}
    <p>
      Based on <code>{{ $source }}</code>
      (<a href="{{ .Site.Params.boshRepo }}/blob/master/{{ $source }}">source</a>).
    </p>
  </article>
{{ end }}
